*{margin:0; padding:0; box-sizing:border-box;}
h1{font-size:100px; text-align:center; font-family:Segoe Print; color:darkorange; padding:2px;}
body{background-image:url('https://s3.wp.wsu.edu/uploads/sites/2955/2021/11/Kittens-11-21.jpg'); background-repeat:no-repeat; height:100vh; display:flex; justify-content:center;
background-attachment:fixed; background-position:center;}
p{font-size:25px; text-align:center; color:#FF7F50; border-width:3px; border-style:solid;}
label{display: block; margin:0.5rem 0; text-align: center;}
div{background-color: rgba(255, 246, 127, 0.801); margin-left:300px; margin-right:300px; padding:10px;}
fieldset{margin-left:150px; margin-right:150px;}
p1{font-weight:bold; color:red;}
button{align-content: center;}
center{display:flex; justify-content: center; align-items: center; height:200px; border:3px solid green;}
